/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
}
.custom-text-color {
    color: #E76F51;
}
.custom-btn {
    background-color: #E76F51;
    color: #fff;
}
.bg-custom-black {
    background-color: #0B0D17;
    ;
}
a {
    text-decoration: none;
    color: #fff;
}

/* header styles */
.header {
    background-color: #264653;
    width: 100%;
    /* height: 700px; */
    color: #fff;
}

/* feature styles */
.feature::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #E76F51;
    margin-left: auto;
    margin-right: auto;
}

/* news styles */
.news-btn {
    border: 1px solid #E76F51;
    color: #E76F51;
}
.news-btn:hover {
    color:#fff;
    background-color: #E76F51;
}